ENVIRONMENT=development
BETTER_AUTH_SECRET=
DATABASE_URL=

AUTUMN_API_KEY=

TURNSTILE_SECRET_KEY=

RESEND_API_KEY=
EMAIL_FROM=AI Starter <hello@example.com>

OLLAMA_BASE_URL=http://localhost:11434

GEMINI_API_KEY=
